
 <% @projects.each do |project| %>
 
    <div class="row portfolio-single entry" style='margin-bottom:30px;'>

        <!-- .span8 -->
        <div class="span8" style="text-align:center;"> 
             <%= image_tag project.main_picture.index_image_url %>
        </div><!-- /.span8 -->

        <!-- .span4 -->
        <div class="span4"> 
            <h1><%= project.title %></h1> 
            <div class='project-description'> 
              <%=  project.description[0..150] + "..." %>  
            </div>
            
            <ul class="clearfix skilss" data-rel="tooltip" title="Services Use">
                <li><i class="icon-ok-circle"></i>Web Design</li>
                <li><i class="icon-ok-circle"></i>jQuery</li>
                <li><i class="icon-ok-circle"></i>Wordpress</li>
                <li><i class="icon-ok-circle"></i>PHP</li>
            </ul>

            <a href="#" class="btn btn-danger btn-large"><i class="icon-map-marker icon-white"></i>Launch website</a>

        </div><!-- /.span4 -->

    </div><!-- /.row --> 
  <% end %>