<%= render :partial => "layouts/guide" %> 


<div class="row">
  <!-- render the page -->
  <%= render :partial => "home/dashboard_page_content" %> 
  <!-- render the process list -->
  <%= render :partial => 'layouts/process_nav'%>
</div>