

<article class='row' id='no_entry_notification'> 
  <div class='span6'>
    <%= image_tag 'upload_images_prompt.jpg' %>
  </div>
  <div class='span3'>
    <h3>
      No project at all.
    </h3>
    <p>
      What about uploading some pics, nyaaaan?
    </p>
  </div>
</article>