<%= render :partial => "layouts/dashboard_guide", :locals => {
  :title => "Portfolio",
  :description => "Manage your portfolio to be seen by the public"
} %> 


<div class="row">
  <!-- render the page -->
  <%= render :partial => "home/dashboard_page_content" %> 
  <!-- render the process list -->
  <%= render :partial => 'layouts/process_nav'%>
</div>


