<%= render :partial => "layouts/dashboard_guide", :locals => {
  :title => "#{@project.title}",
  :description => "#{@project.teaser}"
} %> 
 
 

<div class="row portfolio-single entry" style='margin-bottom:30px;'>

  <!-- .span8 -->
  <div class="span12" style="text-align:center;">
    <div class='image-portfolio-wrapper' style='margin-bottom:30px;'>
      <% @project.content_pictures.each do |picture| %>
        <%= image_tag picture.index_image_url , :style => 'margin-bottom:10px;'%>
      <% end %> 
    </div>
    
    
    <% if not  @project.description.nil?  and @project.description.length != 0 %>
      <div class='project-description'> 
        <%= @project.description %>
      </div>
    <% end %>
    
  </div><!-- /.span8 -->

  
</div><!-- /.row -->  
