<article class='row dashboard_project_entry' > 
  <div class='span6'>
  
      <%= image_tag picture.dashboard_image_url %> 
  </div>
  <div class='span3'>
    
    
    <div class='project-description' style='margin-top:20px;'>
      <%= picture.name %>
    </div>
 
    
        
    
    <br />
    <h4>Display Status</h4>
    <div  id='toggler-<%=  picture.id %>' class='pic-toggle-button'>
      <input type="checkbox">
    </div>
    
    
    <hr /> 
    <div> 
      <a class="btn btn-danger btn-large form_opener">
        <i class="icon-remove icon-white"></i>
        Delete
      </a>
    </div>


  </div>
</article>
