<!-- #welcome -->
<section id="welcome">

    <!-- .span4 -->
    <div class="span5">
        <h1><span class="color"><%= title %></span></h1>
    </div><!-- /.span4 -->

    <!-- .span6 -->
    <div class="span6">
        <p><%= description %></p>
    </div><!-- /.span6 -->

</section><!-- /#welcome -->