<!-- #footer.container -->
<footer id="footer" class="container">
    
    <!-- .row .clearfix -->
    <div class="row clearfix">

      <!-- .span3 -->
      <div class="span3"> 
        <p>© weyewe </p>
      </div><!-- /.span3 -->
      <div class="span9">

        <p>
          These pictures are property of the uploaders. WonderMoment is only helping to store and aggregate the awesome  moments to be easily discovered.
        </p>
      </div>

    </div><!-- /.row .clearfix -->

    <!-- #copyright.clearfix -->
    <!-- <div id="copyright" class="clearfix"> -->

        <!-- <p>weyewe 2012. All rights reserved.</p> -->

        <!-- #footer-menu -->
        <!-- <nav id="footer-menu"> -->
            <!-- <ul class="clearfix">
                         <li><a href="#" class="current" data-description="Home Page">Home</a>
                         </li>
                         <li><a href="#">About</a></li>
                         <li><a href="#">Portfolio</a></li>
                         <li><a href="#">Blog</a></li>
                         <li><a href="#">Features</a></li>
                         <li><a href="#">Contact</a></li>
                     </ul> -->
        <!-- </nav> --><!-- /#footer-menu -->

    <!-- </div> --><!-- /#copyright .clearfix -->

</footer><!-- /#footer .container -->