<!-- #welcome -->
<section id="welcome">

    <!-- .span4 -->
    <div class="span5">
        <h1>Welcome to the <span class="color">potolog-admin</span></h1>
    </div><!-- /.span4 -->

    <!-- .span6 -->
    <div class="span6">
        <p>Custom CMS for photography portfolio website.</p>
    </div><!-- /.span6 -->

</section><!-- /#welcome -->