<!-- #welcome -->
<section id="welcome">

    <!-- .span4 -->
    <div class="span5">
        <h1>Welcome to the <span class="color">WonderMoment</span></h1>
    </div><!-- /.span4 -->

    <!-- .span6 -->
    <div class="span6">
        <p>Join us to the whole new world full of  moments that matter!</p>
    </div><!-- /.span6 -->

</section><!-- /#welcome -->