<!-- #header  -->
<header id="header">
    <!-- .row -->
    <div class="row"> 
        <%= render :partial => "layouts/header/logo" %>
        <%= render :partial => "layouts/header/main_nav"%> 
    </div><!-- /.row -->
</header><!-- /#header  -->